body {
    background-color: #9BABB8;
    margin: -10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex: none;
    max-height: 30vh;
}

h1{
    background-color: #967E76;
    color: #D7C0AE;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: none;
    padding: 20px 0px 20px 0px;
    margin: 10px 0;    
}

footer{
    background-color: #967E76;
    color: #D7C0AE;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    flex:none;
    margin: 10px auto;
    width:100%;
}


.mainContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 560px;
    min-height: 560px;
    margin-top: -10px;
}


.columns{
    display: flex;
    border: solid Black;
    border-width: 1px;
    flex: 1;
}

.rows{
    display: flex;
    flex:1;
    border: solid Black;
    border-width: 1px;
}

.Buttons{
    background-color: #D7C0AE;
    display: flex;
    flex: none;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: -10px;
    padding: 10px;
}

button{
    background-color: #EEE3CB;
    color: #967E76;
    /*border-radius: 30px 60px 30px 60px;*/
    border-radius: 25px;
    padding: 5px;
    border-width: thin;

}